body{
    margin:0px;
    padding: 0;
    background-color:aliceblue ;
}
.header{
    background-color: rgba(190, 180, 180, 0.247);
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 5px 10%;
    list-style: none;
}

.container-diagrama{
    
    display: inline-flex;
    margin-top: 8px;
    margin-bottom: 15px;
}

.clasesita{
    margin-left: 160px;
}

.boton{
    margin-bottom:8px;

}
.sidebar button{
    display: block;
    padding: 5px;
    margin: 7px;
    width: 60px;
    margin-left: 17px;
}

.consultas{
    margin-top: 20px;
}

#lista-model{
    margin-left: 15px;
}